<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TestAppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        tools:targetApi="31">
        <!--        <provider
                    android:name="androidx.startup.InitializationProvider"
                    android:authorities="${applicationId}.workmanager-init"
                    android:exported="false"
                    tools:node="merge" />-->
        <service
            android:name=".ui.screenexamples.service.MyService"
            android:exported="false" />
        <service
            android:name=".ui.screenexamples.worker.MyPeriodicWorker"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- Declarar WorkManager -->

        <receiver
            android:name=".ui.screenexamples.widgetone.FirstWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info" />
        </receiver>

        <activity
            android:name=".ui.screenexamples.counterscreen.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_main10"
            android:theme="@style/Theme.JetpackCompose" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.screenexamples.mutablestate.MutableStateActivity"
            android:exported="true"
            android:label="@string/title_activity_main8"
            android:theme="@style/Theme.JetpackCompose" />

        <activity
            android:name=".ui.screenexamples.LazyVerticalGridActivity"
            android:exported="true"
            android:label="@string/title_activity_main7"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ui.screenexamples.LazyRowActivity"
            android:exported="true"
            android:label="@string/title_activity_main6"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ui.screenexamples.LazyColumnActivity"
            android:exported="true"
            android:label="@string/title_activity_main5"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ui.screenexamples.RowActivity"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ui.screenexamples.ColumnActivity"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.JetpackCompose" />
        <activity
            android:name=".ui.screenexamples.BoxActivity"
            android:exported="true"
            android:theme="@style/Theme.JetpackCompose" />
    </application>

</manifest>